.container {
  margin-top: 50px;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.derrota {
  border: 2px solid red;
  color: red;
}

.vitoria {
  border: 2px solid green;
  color: green;
}
